<div class="container-fluid ">
  <h1 class="bg-secondary  text-center text-white ">Registration Form</h1>
  <h4 class="text text-center">Fill out the form carefully for registration</h4>

  <div class="container main-content">


  <form [formGroup]="register" (ngSubmit)="onsubmit(register)">
    <div class="name">

     <div id="first">
      <label class=" text-primary fw-bold" for="firstname">First Name</label><br>
     <input  type="text" class="form-control shadow p-1 bg-success-subtle " placeholder="Enter firstname" formControlName="firstname" [ngClass]="{'is-invalid':submit&&f.firstname.errors}">
        <div *ngIf="submit&&f.firstname.errors" class="invalid-feedback">
           <div *ngIf="f.firstname.errors['required']">Firstname is required</div>
        </div>
    </div>

     <div id="last">
      <label class=" text-primary fw-bold" for="lastname">Last Name</label><br>
     <input  type="text" class="form-control shadow p-1 bg-success-subtle" placeholder="Enter Lastname" formControlName="lastname" [ngClass]="{'is-invalid':submit&&f.lastname.errors}">
     <div *ngIf="submit&&f.lastname.errors" class="invalid-feedback">
      <div *ngIf="f.lastname.errors['required']">Lastname is required</div>
   </div>  
    </div>

  </div>

<div class="phonemail">

    <div id="ph">

      <label class=" text-primary fw-bold" for="phone">Phone no</label><br>
     <input  type="number" class="form-control shadow p-1 bg-success-subtle" placeholder="Enter Phone no" formControlName="phone" [ngClass]="{'is-invalid':submit&&f.phone.errors}" >
     <div *ngIf="submit&&f.phone.errors" class="invalid-feedback">
      <div *ngIf="f.phone.errors['required']">Phone number is required</div>
      <div *ngIf="f.phone.errors['pattern']">Invalid phone number</div>
   </div>
    </div>
    
    <div id="em">

      <label class=" text-primary fw-bold" for="email">Email Address</label><br>
     <input  type="email" class="form-control shadow p-1 bg-success-subtle" placeholder="Enter Email id" formControlName="email" [ngClass]="{'is-invalid':submit&&f.email.errors}">
    
     <div *ngIf="submit&&f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors['required']">Email id is required</div>
      <div *ngIf="f.email.errors['email']">Invalid Email address</div>
   </div>
    
     <div>
      <button type="button" class="btn btn-success" (click)="addalternativeEmail()">Add</button>
         <div formArrayName="alternativeEmails" *ngFor="let item of alternativeEmails.controls; let i=index">
             <label >Alternative Email {{i+1}}</label>
             <input type="text" class="form-control shadow p-1 bg-success-subtle" [formControlName]="i">
         </div>
        
     </div>
    </div>
    
  </div>


    <div>
      <label class=" text-primary fw-bold" for="gender">Gender</label><br>
      <input type="radio" name="gender" id="male">
    <label for="male">Male</label>
    <input type="radio" name="gender" id="female">
    <label for="female">Female</label>
    <input type="radio" name="gender" id="other">
    <label for="other">Other</label>
    
    </div>


    <div>
      <label class=" text-primary fw-bold form-check" for="Address">Permenant Address</label><br>
     <textarea name="address" id="adress" cols="25" rows="8" class="form-control shadow p-1 bg-success-subtle" formControlName="address" [ngClass]="{'is-invalid':submit&&f.address.errors}"></textarea>

     <div *ngIf="submit&&f.address.errors" class="invalid-feedback">
      <div *ngIf="f.address.errors['required']">Address is required</div>
    </div>

    <div>
      <input class="form-check-input" type="checkbox" value="address">
      </div>
      <label class=" text-primary fw-bold" for="Address">Temporary Address</label><br>
     <textarea name="address" id="address" cols="20" rows="8" class="form-control shadow p-1 bg-success-subtle"></textarea>
    </div>
    
    <div>
      <label class=" text-primary fw-bold" for="about">About Me</label><br>
     <textarea name="about" id="address" cols="20" rows="5" placeholder="Write about yourself" class="form-control shadow p-1 --bs-primary-bg-subtle" formControlName="about" [ngClass]="{'is-invalid':submit&&f.about.errors}"></textarea>
     <div *ngIf="submit&&f.about.errors" class="invalid-feedback">
      <div *ngIf="f.about.errors['required']">About you is required</div>
      </div>
    </div>

<button type="submit" class="btn btn-primary">Submit</button>
  </form>
    </div>

    </div>