<div class="container">
    <h2 class="text-center">Reactive Form</h2>
    <form [formGroup]="register" (submit)="onsubmit()">
        <div>
            <label for="firstname">First name:-</label>
            <input type="text" id="firstname" name="firstname" placeholder="*Enter firstname"
                formControlName="firstname">

            <span class="text-danger " *ngIf="submit&&f.firstname.errors">
                <div *ngIf="f.firstname.errors['required']">*Firstname is required</div>
            </span>

        </div>
        <br>
        <div>
            <label for="lastname">Last name:-</label>
            <input type="text" id="lastname" name="lastname" placeholder="*Enter lastname" formControlName="lastname">

            <span class="text-danger " *ngIf="submit&&f.lastname.errors">
                <div *ngIf="f.lastname.errors['required']">*Lastname is required</div>
            </span>


        </div>
        <br>
        <div>
            <label for="email"> Email id:- </label>
            <input type="email" id="email" name="email" placeholder="*Enter email" formControlName="email">

            <span class="text-danger " *ngIf="submit&&f.email.errors">
                <div *ngIf="f.email.errors['required']">*Email id is required</div>
            </span>


        </div>
        <br>
        <div>

            <label for="">Gender:- </label>
            <input type="radio" value="Male" id="gender" formControlName="gender">Male
            <input type="radio" value="Female" id="gender" formControlName="gender">Female
        </div>
        <br>
        <div>
            <label for="ismarried">Married:-</label>
            <input type="checkbox" id="ismarried" name="ismarried" formControlName="ismarried">

            <span class="text-danger " *ngIf="submit&&f.ismarried.errors">
                <div *ngIf="f.ismarried.errors['required']">*This field is required</div>
            </span>

        </div>

        <div>
            <label for="country">*Country:-</label>
            <select class="" aria-label="Default select example" formControlName="country">
                <option class="bg-secondary" selected> Select Country</option>
                <option value="1">India</option>
                <option value="2">USA</option>
                <option value="3">England</option>
                <option value="4">Italy</option>
            </select>
        </div><br>

        <div formGroupName="address">

            <div class="formGroup">
                <label for="city">*City</label>
                <input type="text" class="form-control" formControlName="city">

                <span class="text-danger " *ngIf="submit&&address.city.errors">
                    <div *ngIf="address.city.errors['required']">Email id is required</div>
                </span>

            </div>

            <div class="formGroup">
                <label for="street">*Street</label>
                <input type="text" class="form-control" formControlName="street">
            </div>

            <div class="formGroup">
                <label for="pincode">*Pincode</label>
                <input type="text" class="form-control" formControlName="pincode">
            </div>

        </div>


        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>