<p>home works!</p>

<!-- <div class="row">
    <div class="col-md-12"    >
        <nav class="navbar navbar-expand-lg bg-light ">
            <div class="container-fluid ">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active text-black" aria-current="page" href="javascript:void(0);" routerLink="/register1">Home 1</a>
                  <a class="nav-link  text-black" href="javascript:void(0);" routerLink="/login">Home 2</a>
              </div>
              </div>
            </div>
          </nav>
    </div>
</div>-->

<div class="row">
    <div class="col-md">
        <p>Childrens of Home</p>
    </div>
</div>
<div class="row">
    <div class="col-md">
        <router-outlet></router-outlet>
    </div>
</div> 